.container {
	background-color: #222;
	/* min-height: 100vh; */
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 1100px;
}

.individualCardContainer {
	margin: 10px;
	width: 100px;
	height: 100px;
	cursor: pointer;
	text-decoration: none;
	border-radius: 100%;
}
.individualCardContainer:hover {
	box-shadow: 0 0 10px #fff;
}

.cardPortrait {
	position: relative;
	z-index: 50;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background-image: url('../../assets/images/global-stats-frame.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 0 10px #222 inset;
}

.card {
	z-index: 48;
	position: relative;
	top: -100%;
	width: 100px;
	height: 100px;
}
.loading {
	background: rgb(2, 0, 36);
	background: radial-gradient(
		circle,
		rgba(2, 0, 36, 1) 0%,
		rgba(43, 43, 76, 1) 12%,
		rgba(2, 0, 36, 1) 25%,
		rgba(43, 43, 76, 1) 37%,
		rgba(2, 0, 36, 1) 50%,
		rgba(43, 43, 76, 1) 62%,
		rgba(2, 0, 36, 1) 75%,
		rgba(43, 43, 76, 1) 86%,
		rgba(2, 0, 36, 1) 100%
	);
}

.champAvatar {
	width: 100px;
	height: 100px;
	border-radius: 100%;
}
/* ------------------------------------------ */
.heroContainer {
	width: 100%;
	height: calc(80vh - 80px);
	position: relative;
}
.heroBackground {
	position: absolute;
	width: 100%;
	height: 100%;
	height: calc(100% - 20px);
	object-fit: cover;
	filter: blur(8px);
}
.hero {
	position: absolute;
	height: calc(100% - 20px);
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	max-width: 1200px;
}
.heroOverlay {
	position: absolute;
	z-index: 999;
	width: 100%;
	height: 100%;
	background: rgb(0, 9, 19);
	background: linear-gradient(
		0deg,
		rgba(0, 9, 19, 1) 5%,
		rgba(43, 43, 76, 0) 80%
	);
}
/* ------------------------------------------ */

.contentContainer {
	color: #fff;
	text-align: center;
	z-index: 1000;
	/* background: red; */
	width: 100%;
	margin: 0 auto;
	padding: 1em;
	position: relative;
	top: -200px;
	font-family: 'Spiegel';
	width: 60%;
	max-width: 1200px;
	border: 1px solid rgba(255, 255, 255, 0.2);
}

.contentTitle {
	padding: 1.2em;
	margin: 0 auto;
	/* background-color: lightblue; */
	/* height: 150px; */
}
.contentTitle span {
	/* font-size: 24px; */
	font-weight: 600;
	text-transform: uppercase;
}
.contentTitle h1 {
	font-family: 'Beaufort';
	font-size: 3.5em;
	font-weight: 700;
}

.divider {
	width: calc(100% - 18.75rem);
	height: 1px;
	background: rgba(255, 255, 255, 0.2);
	margin: 2.5rem auto;
}

.contentSpecs {
	height: 90px;
	margin: 1em;
	display: flex;
	justify-content: center;
}
.contentRol,
.contentDiff {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* .contentRol {
	background-color: yellow;
}
.contentDiff {
	background-color: green;
} */
.contentLore {
	/* background-color: blue; */
	text-align: start;
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 1.28571;
	letter-spacing: 0.08em;
}
