@font-face {
	font-family: 'Beaufort';
	src: url('assets/fonts/BeaufortforLOL-Regular.woff') format('woff');
	font-weight: 400;
}

@font-face {
	font-family: 'Beaufort';
	src: url('assets/fonts/BeaufortforLOL-Bold.woff') format('woff');
	font-weight: 700;
}

body {
	margin: 0;
	font-family: 'Beaufort', serif;
	font-size: 24px;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
