@font-face {
	font-family: 'Beaufort';
	src: url('assets/fonts/BeaufortforLOL-Regular.woff') format('woff');
	font-weight: 400;
}

@font-face {
	font-family: 'Beaufort';
	src: url('assets/fonts/BeaufortforLOL-Bold.woff') format('woff');
	font-weight: 700;
}

@font-face {
	font-family: 'Beaufort';
	src: url('assets/fonts/BeaufortforLOL-HeavyItalic.woff') format('woff');
	font-weight: 700;
}

@font-face {
	font-family: 'Spiegel';
	src: url('assets/fonts/Spiegel-Regular.woff') format('woff');
	font-weight: 400;
}

@font-face {
	font-family: 'Spiegel';
	src: url('assets/fonts/Spiegel-SemiBoldItalic.woff') format('woff');
	font-weight: 600;
}

@font-face {
	font-family: 'Spiegel';
	src: url('assets/fonts/Spiegel-BoldItalic.woff') format('woff');
	font-weight: 700;
}

@font-face {
	font-family: 'Spiegel';
	src: url('assets/fonts/Spiegel-Bold.woff') format('woff');
	font-weight: 700;
}

body {
	margin: 0;
	font-family: 'Beaufort', serif;
	font-size: 24px;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

main {
	width: 100%;
	min-height: 100vh;
	background: #000913;
	padding-top: 80px;
}

img {
	border-style: none;
}
